body {
    margin:0;
    padding:0;
    background:#FFFFF;
}
 
canvas {
    display:block;
button {
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:90%;
    width:90%;
    cursor:pointer;
}
